<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Category</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{%static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<style>
    .quest-btn{
        padding: 1rem;
        width: 30%;
        margin: 0rem .6rem;
    }
</style>
<body>

    <div class="main">

        <!-- <h1>Sign up</h1> -->
        {%csrf_token%}
        <div class="container">
            <div class="sign-up-content">
                <h2 class="form-title">Which Describes You Best ?</h2>
                <div class="form-radio" style="display: flex; justify-content:center;">
                    <button class="quest-btn fw-bold text-white" type="button" id="client">Hire Sales People</button>
                    <button class="quest-btn fw-bold text-white" type="button" id="seeker">Apply for a Job</button>
                    
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- <script src="{%static 'js/main.js' %}"></script> -->
    <script>
        $(document).ready(function(){
            function clientRedirect(){
                window.location = '/auth/createprofile/client/';
            };

            function seekerRedirect(){
                window.location = '/auth/createprofile/';
            };

            $("#seeker").click(()=>{
                $.ajax({
                    type:'POST',
                    url:'/auth/update/',
                    data: {
                        category:'seeker',
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: ()=>{
                        setTimeout(seekerRedirect, 1000)
                    },
                    error:()=>{
                        console.log('unsuccessfull')
                    }
                })
            })

            $("#client").click(()=>{
                $.ajax({
                    type:'POST',
                    url:'/auth/update/',
                    data: {
                        category:'client',
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: ()=>{
                        setTimeout(clientRedirect, 1000)
                    },
                    error:()=>{
                        console.log('unsuccessfull')
                    }
                })
            })
        })
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>