<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{%static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <h1>Sign up</h1>
        <div class="container">
            <div class="sign-up-content">
                <div class="mssg-box">
                    <div class="title-block">
                        <p class="form-title" style="color: rgb(46, 194, 46);"></p>
                    </div>
                    <div class="circle"></div>
                </div>
                <form method="POST" class="signup-form" id="signup_form" autocomplete="off">
                    {%csrf_token%}
                    <div class="form-textbox">
                        <label for="id_first_name">First name</label>
                        {{form.first_name}}
                    </div>

                    <div class="form-textbox">
                        <label for="id_last_name">Last name</label>
                        {{form.last_name}}
                    </div>

                    <div class="form-textbox">
                        <label for="id_email">Email</label>
                        {{form.email}}
                    </div>

                    <div class="form-textbox">
                        <label for="id_tel">Phone</label>
                        <div class="flex-input">
                            <select name="" id="" style="display:none;">
                                <option value="">+1</option>
                            </select>
                            <div>
                                {{form.tel}}
                            </div>
                        </div>
                    </div>

                    <div class="form-textbox">
                        <label for="id_password1">Password</label>
                        {{form.password1}}
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>

                    <div class="form-textbox">
                        <input type="submit" name="submit" id="submit" class="submit" value="Create account" />
                    </div>
                </form>

                <p class="loginhere">
                    Already have an account ?<a href="{%url 'login' %}" class="loginhere-link"> Log in</a>
                </p>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>
    <script>
        console.log(`{{lists}}`)
        function nextPage(){
            window.location = "/auth/category/"; 
        }

        $(document).on('submit', "#signup_form", (e)=>{
            e.preventDefault();
            $.ajax({
                type:"POST",
                url:"/auth/user/",
                data:{
                    firstname:$('#id_first_name').val(),
                    lastname:$('#id_last_name').val(),
                    email:$('#id_email').val(),
                    tel:$('#id_tel').val(),
                    password:$('#id_password1').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:(data)=>{
                    $('.form-title').append(data);
                    $('#id_first_name').val("");
                    $('#id_last_name').val("");
                    $('#id_email').val("");
                    $('#id_tel').val("");
                    $('#id_password1').val("");
                    setTimeout(nextPage, 1000);        
                }
            })
        })
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>